# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        description: "Name of the app, unique for the repo, kebab-cased"
        type: string
      bucket_name:
        required: true
        description: "Name of the S3 registry bucket"
        type: string
      custom_hash:
        required: false
        description: "Custom hash used to cache the action on successful build"
        type: string
      build_dir:
        required: true
        description: "Location of the deploy bundle after running the build command"
        type: string
      build_cmd:
        required: true
        description: "Command for building the deploy bundle"
        type: string
      pnpm_version:
        required: false
        default: 0
        description: "pnpm version to install. If ommitted, the project needs to have the version specified in the 'packageManager' field in its package.json"
        type: number
      registry_scope:
        required: false
        default: "@pleo-io"
        description: "Org scope for the GitHub Package Registry"
        type: string
      runner:
        required: false
        default: ubuntu-latest-8-cores
        description: "Use a specific size of job runner to run this workflow"
        type: string
      turbo_cache:
        required: false
        description: "Use Turborepo Remote Cache"
        type: boolean
      turbo_force:
        required: false
        description: "Skip using Turborepo Remote Cache when build task (still writes task output to cache)"
        type: boolean
    outputs:
      build_hash:
        description: "Hash of the code built"
        value: ${{ jobs.build.outputs.build_hash }}
      bundle_uri:
        description: "S3 URI of the bundle in the registry bucket"
        value: ${{ jobs.build.outputs.bundle_uri }}

jobs:
  build:
    name: Build & Upload
    runs-on: ${{ inputs.runner }}
    outputs:
      build_hash: ${{ steps.s3-cache.outputs.hash }}
      bundle_uri: ${{ steps.bundle-uri.outputs.uri }}
    steps:
      - uses: actions/checkout@v4.1.6

      - name: Check S3 Cache
        uses: pleo-io/s3-cache-action@v3.1.0
        id: s3-cache
        with:
          bucket-name: ${{ inputs.bucket_name }}
          key-prefix: build/${{ inputs.app_name }}
          custom-hash: ${{ inputs.custom_hash }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_FRONTEND_REGISTRY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_FRONTEND_REGISTRY }}
          aws-region: eu-west-1

      - uses: pnpm/action-setup@v4.0.0
        if: steps.s3-cache.outputs.processed == 'false'
        with:
          version: ${{ inputs.pnpm_version != 0 && inputs.pnpm_version || null }}

      - uses: useblacksmith/setup-node@v5
        if: steps.s3-cache.outputs.processed == 'false'
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"
          scope: ${{ inputs.registry_scope }}

      - name: Cache node_modules/.pnpm
        if: steps.s3-cache.outputs.processed == 'false'
        uses: useblacksmith/cache@v5
        with:
          path: node_modules/.pnpm
          key: pnpm-node-modules-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-node-modules-

      - name: Install Dependencies
        if: steps.s3-cache.outputs.processed == 'false'
        run: pnpm install --frozen-lockfile --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_REGISTRY_NPM_TOKEN }}

      - name: Build
        if: steps.s3-cache.outputs.processed == 'false'
        run: ${{ inputs.build_cmd }}
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          TURBO_TOKEN: ${{ inputs.turbo_cache && secrets.TURBO_TOKEN || null }}
          TURBO_FORCE: ${{ inputs.turbo_force }}

      - name: Get Bundle S3 URI
        id: bundle-uri
        run: |
          echo "uri=s3://${{ inputs.bucket_name }}/bundles/${{ github.repository }}/${{ inputs.app_name }}/${{ steps.s3-cache.outputs.hash }}.tar.gz" >> $GITHUB_OUTPUT

      - uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_FRONTEND_REGISTRY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_FRONTEND_REGISTRY }}
          aws-region: eu-west-1

      - name: Compress & Upload Bundle
        if: steps.s3-cache.outputs.processed == 'false'
        run: |
          tar -zcvf bundle.tar.gz -C ${{ inputs.build_dir }} .
          aws s3 cp bundle.tar.gz ${{ steps.bundle-uri.outputs.uri }}
