name: Pull Request Check
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  merge_group:
    types:
      - checks_requested

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  semantic-title:
    name: Check PR Title for Semantic Release Type
    runs-on: ubicloud-standard-2-arm
    permissions:
      pull-requests: read
    steps:
      - name: Check PR Title
        if: github.event_name == 'pull_request'
        uses: amannn/action-semantic-pull-request@v5.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          validateSingleCommit: true

  test-lambdas:
    name: Check Lambda@Edge Functions
    runs-on: ubicloud-standard-2
    defaults:
      run:
        working-directory: terraform-module/edge-lambdas
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4.1.4
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: "20"
          cache: "pnpm"
          cache-dependency-path: terraform-module/edge-lambdas/pnpm-lock.yaml
      - run: pnpm install --frozen-lockfile --ignore-scripts
      - run: make test
      - run: make lint
      - run: make build

      - name: Check if built version was committed
        run: |
          git diff --exit-code || (echo "::error::You forgot to commit the built actions, run 'make' locally" && exit 1)
